<!--Section Resort-->
<section class="section-resort">
    <div class="row">
      <div  class="col s12 m6 middle-text">
        <h4 class="left-align black-text"></h4>
        <p class="left-align ">{{posts.body}}</p>
        <a class="btn our-green lower bd">lorem</a>
      </div>
      <div class="col s12 m6 card-img">
        <div class="card hoverable card-fixed-button ">
          <div class="card-image ">
            <div class="responsive-img "><img src="../../assets/images/resort2.jpg" alt="" srcset=""></div>
            <a class="btn-floating btn-large floating waves-effect round waves-light blue"><i class="material-icons large center">arrow_forward</i></a>
          </div>
  
        </div>
      </div>
    </div>
  </section>
  