
<div class="container lorem-card">
    <div class="card center  our-grey hoverable col s12 m9">
      <div class="pt-1">
          <h5 class="black-text">Lorem, ipsum dolor.</h5>
      </div>
     <div class="row center">
       <div *ngFor="let post of posts" class="col m4" >
        <div class="flex-container pl-3">
            <p class= "left-align pl-3">{{post.body}}</p>
        </div>
         
       </div>
     </div>
  </div>
  </div>

  <!-- <div class="pt-1">
      
    </div>
    <div class="col m3" >
      
    
    <div class="flex-container mt-3 black-text" >
     <div class="mr-5 left-align pr-3 col m3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente atque dignissimos eum eaque voluptas veniam vero debitis laudantium! Asperiores dolores laudantium a itaque voluptates delectus veritatis fugiat cupiditate optio ipsa. </div>
      <div class="mr-5 left-align">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor esse laudantium in neque sequi harum eos illum totam ?</div>
     <div class="mr-5 left-align">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor esse laudantium in neque sequi harum eos illum tota?</div> -->
    <!-- </div>
  </div> --> -->