.rounded{
    border-radius: 15px;
}
.our-yellow{
    background-color: rgba(10, 150, 115, 0.726) !important;
}
.our-green{
    background-color: rgba(10, 150, 115, 0.726) !important;
}
.our-grey{
    background-color: #ECF0F1 !important;
}
.our-blue{
    background-color: #385B92 !important;
}