
<!--Section for Flag and other Lorem text-->
<section class="flag-section section">
    <div class="flag-card">
      <div class="card hoverable our-grey flags center">
        <div class="pt-1">
          <h5>Member Countries</h5>
        </div>
        <div class="flex-container mt-3">
            <div class="flag-container"><img class="responsive-img" src="../../assets/images/nigeria-flag-small.jpg" alt="nigerian flag"></div>
            <div class="flag-container"><img class="responsive-img" src="../../assets/images/tanzania-flag-small.jpg" alt="tanzania-flag"></div>
            <div class="flag-container"><img class="responsive-img" src="../../assets/images/uganda-flag-small.jpg" alt="uganda flag"></div>
            <div class="flag-container"><img class="responsive-img" src="../../assets/images/zimbabwe-flag-small.jpg" alt="zimbabwe flag"></div>
            <div class="flag-container"><img class="responsive-img" src="../../assets/images/kenya-flag-small.jpg" alt="kenya flag"></div>
        </div>
      </div>
    </div>
    <div class="card hoverable comment-card">
      <div class="comment-dection our-blue ">
        <div class="row">
          <div class="col m12 ">
              <div class="post center pl-1">
                  <p class="white-text left-align  ">
                    {{posts.body}}
                  </p>
                  <a class="btn our-yellow mr-2 lower bd ">lorem</a>
                </div>
          </div>
        </div>
        
      </div>
        
  
      
    </div>
  </section>
  
  <!--Section footer-->
  <section class="footer">
      <div class="container lorem-card">
          <div class="center    col s12 m8">
            
            <div class="flex-container mt-3 black-text">
             <div class="mr-5 left-align pr-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit.  ?</div>
             <div class="mr-5 left-align">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
             <div class="mr-5 left-align">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
             <div class="mr-5 left-align">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
            </div>
          </div>
        </div>
  <!-- </section>
  <section class="footer-with-api">
    <div class="row">
      <div class="col s12 m4">
        <div class="left-align">

        </div>
      </div>
    </div>
  </section> -->